* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.welcome-page {
    text-align: center;
    padding: 0.5rem;
    background-color: #f0f0f0;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
}

.menu-bar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.menu-bar ul {
    list-style-type: none;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.15rem;
}

.menu-bar li {
   

    margin: 0 10px;
    
}

.menu-bar a {
    color: #fff;
    text-decoration: none;
}



.school-logo {
    width: 5rem;
    height: auto;
    mix-blend-mode: darken;
}

.student-photo {
    text-align: center;
}
.student-photo {
    width: 150px;
    height: auto;
}

.profile-toggle,.toggle-input {
    display: none;
}

.profile-toggle-label, .toggle-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-toggle:checked ~ .profile-info {
    margin-top:2.15rem;
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    border: #007bff 2px solid;
    max-width: fit-content;
    padding: 1rem;

}

.toggle-btn {
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    /* z-index: 2;
    position: relative; */
    
    
}

.timetable {
    display: none;
}

#toggle-timetable:checked ~ .timetable {
    display: block;
}

.timetable table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.timetable th, .timetable td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
.timetable th {
    background-color: #f2f2f2;
    color:black;
}
.profile-info {
    display: none;
}

.profile-attributes{
    font-weight: 700;
}


.student-information,.timetable-section{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
}


.toggle-input{
    /* position: absolute; */
    /* top:0rem;
    bottom:0rem;    */
}

