<div class="about-banner">
    <h2>About Us</h2>
    <img class="car-image" src="https://media.istockphoto.com/id/949396376/photo/3d-illustration-of-generic-red-sports-car-on-white.jpg?s=612x612&w=0&k=20&c=6UjhlXZ-4G0Ys7IWvmGrhix1SYHIe6shVzSz9dbraJw=">    
</div>
<div class="about-content">
    <div class="card">
        <div class="card-body">
            <p>Welcome to ABC Automobiles. We pride ourselves on offering a diverse selection of top-notch cars, trucks , and SUVs to suit every lifestyle and budget. Whether you're in the market for a reliable daily commuter, a spacious family vehicle, or a sleek luxury sedan, we have something for everyone. Visit us today and discover why ABC Automobiles is the preferred choice for discerning car buyers everywhere. </p>
        </div>
    </div>
</div>